<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos Anteriores</title>
    <style>
        body{
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #d4edc9;
            font-size: 20px;
        }
        header {
            background-color:  #4c9a2a;
            color: white;
            text-align: center;
            padding: 3rem;
        }
        .abas{
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            gap: 1 rem;

        }
        .jogosdehoje{
            background-color: #2c541d;
            color: rgb(23, 34, 19);
            border: none;
            padding: 0.6rem 1.5rem;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        .populares{

            background-color: #2c541d;
            color: white;
            border: none;
            padding: 0.6rem 1.5rem;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        h2, p{
            text-align: center;
            margin: 0.5rem 0;
            color: #204211;
        }
        .partidas {
            max-width: 400px;
            margin: 1rem auto;
        }
        .jogo {
            background-color:  #4c9a2a;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.7rem 1rem;
            margin-bottom: 1rem;
            border-radius: 10px;
        }
        .jogo img {
            width: 40px;
            height: 40px;
        }
        .jogo span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        button :last-of-type{
        display: block;
        margin: 1rem auto;
        padding: 0.5rem 1.2rem;
        background-color: #2c541d;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        }
        .jogosanteriores{
            background-color: #2c541d;
            color: white;
            border: none;
            padding: 0.6rem 1.5rem;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
            align-items: center;
        }
        .data{
            font-family: arial, sans-serif;
            font-size: 24px;
            font-weight: bold;
            color: #d8fdc9;
        }
        span{
            color: #d8fdc9;
        }
        h1{
            color: #d8fdc9;
        }
        .bola{
          width: 130px;
          position: absolute;
          top: 0%;
          left: 0%;
        }
        .palavras-menu{
          font-size: 25px;
           color: inherit;
          text-decoration: none; 

        }
    </style>
</head>

<header>
  <img class="bola" src="img/bolanogolcerta.png" alt="">
  <a class="palavras-menu" href="/tabela">Classificação |ㅤ</a>
  <a class="palavras-menu" href="/jogos">Jogosㅤ|ㅤ</a>
  <a class="palavras-menu" href="/noticias">Notícias |ㅤ</a>
  <a class="palavras-menu" href="/menu">Tela Inicial ㅤ</a>
</header>

<div class="abas">
    <button class="jogosdehoje">Jogos de Hoje</button>
    <span>ㅤ</span>
    <button class="populares">Populares</button>
</div>
<h2>Partidas</h2>
<p>Copa Do Mundo De Clubes</p>
<div class="partidas">
     <div class="jogo">
        <h3>FIM</h3>
        <img src="img/galão.png" alt="">
        <span>7 x 1</span>
        <img src="img/cruza.png" alt="">
        <span class="data">02/07/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/Flamengo_braz_logo.svg.webp" alt="">
        <span class="">1 x 2</span>
        <img src="img/flumi.webp" alt="">
        <span class="data">28/06/2025</span>
    </div>
     <div class="jogo">
        <h3>FIM</h3>
        <img src="img/Mirassol_FC_logo.png" alt="">
        <span>3 x 4</span>
        <img src="img/recife.png" alt="">
        <span class="data">02/07/2025</span>
    </div>
     <div class="jogo">
        <h3>FIM</h3>
        <img src="img/santos.png" alt="">
        <span class="">2 x 2</span>
        <img src="img/Botafogo_de_Futebol_e_Regatas_logo.svg.webp" alt="">
        <span class="data">01/07/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/Ceará_Sporting_Club_logo.svg.png" alt="">
        <span class="">1 x 12</span>
        <img src="img/fortaleza-1.svg" alt="">
        <span class="data">30/06/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/CRVascodaGama.png" alt="">
        <span>0 x 1</span>
        <img src="img/cori.png" alt="">
        <span class="data">27/06/2025</span>
    </div>
    <div class="jogo">
       <h3>FIM</h3>
        <img src="img/EC_Juventude.svg.png" alt="">
        <span>3 x 5</span>
        <img src="img/RedBullBragantino.png" alt="">
        <span class="data">03/07/2025</span>
    </div>
     <div class="jogo">
        <h3>FIM</h3>
        <img src="img/Flamengo_braz_logo.svg.webp" alt="">
        <span>4 x 2</span>
        <img src="img/cori.png" alt="">
        <span class="data">26/06/2025</span>
    </div>
     <div class="jogo">
        <h3>FIM</h3> 
        <img src="img/Gremio.webp" alt="">
        <span>2 x 4</span>

        <img src="img/Escudo_Bahia.webp" alt="">
        <span class="data">25/06/2025</span>
    </div>
     <div class="jogo">
        <h3>FIM</h3>
        <img src="img/galão.png" alt="">
        <span class="">3 x 1</span>
        <img src="img/flumi.webp" alt="">
        <span class="data">25/06/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/Escudo-do-palmeiras.webp" alt="">
        <span class="">0 x 0</span>
        <img src="img/Escudo_de_2018_da_Chapecoense.png" alt="">
        <span class="data">22/06/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/vitoria.png" alt="">
        <span class="">1 x 0</span>
        <img src="img/sp.png" alt="">
        <span class="data">21/06/2025</span>
    </div>
    <div class="jogo">
        <h3>FIM</h3>
        <img src="img/cruza.png" alt="">
        <span class="">0 x 1</span>
        <img src="img/SousaEC.png" alt="">
      <span class="data">21/06/2025</span>
    </div>
     <span>ㅤㅤㅤ ㅤㅤㅤㅤ</span><button class="jogosanteriores">Mais Jogos</button>
</div>