<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }

    body {
      background-image: url("../images/bg-signin.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: #4a9933;
    }

    .container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 100px;
    }

    .card {
      background-color: #ffffff80;
      padding: 30px;
      border-radius: 4%;
      box-shadow: 3px 3px 1px 0px #00000060;
      background-color: #fff;
    }

    h1{
      text-align: center;
      margin-bottom: 20px;
      color: #272262
    }

    .area{
      color: #fff;
      margin: 70px 0 0 0 ;
    }

    h2{
      color: #fff;
       display: flex;
        justify-content: center;
        margin: 40px 0 0 0 ;
    }


    .label-float input{
      width: 100%;
      padding: 5px 5px;
      display: inline-block;
      border: 0;
      border-bottom: 2px solid #272262;
      background-color: transparent;
      outline: none;
      min-width: 180px;
      font-size: 16px;
      transition: all .3s ease-out;
      border-radius: 0;

    }

    .label-float{
      position: relative;
      padding-top: 13px;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .label-float input:focus{
      border-bottom: 2px solid #4038a0;
    }

    .label-float label{
      color: #272262;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 13px;
      transition: all .3s ease-out;
    }

    .label-float input:focus + label,
    .label-float input:valid + label{
      font-size: 13px;
      margin-top: 0;
      color: #4038a0
    }

    button{
      background-color: transparent;
      border-color: #272262;
      color: #272262;
      padding: 7px;
      font-weight: bold;
      font-size: 12pt;
      margin-top: 20px;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      transition: all .4s ease-out;
    }

    button:hover{
      background-color: #272262;
      color: #fff;
    }

    .justify-center{
      display: flex;
      justify-content: center;
    }

    hr{
      margin-top: 10%;
      margin-bottom: 10%;
      width: 60%;
    }

    p{
      color: #272262;
      font-size: 14pt;
      text-align: center;
    }

    a{
      color: #7a3077;
      font-weight: bold;
      text-decoration: none;
      transition: all .3s ease-out;
    }

    a:hover{
      color: #272262;
    }

    .fa-eye{
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
      color: #272262;
    }

    #msgError{
      text-align: center;
      color: #ff0000;
      background-color: #ffbbbb;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
      display: none;
    }

  </style>
  <title>Login</title>
</head>

<header>
  <h1 class="area">Área do Usuário</h1>
</header>

<div class="container">
  <div class="card">
    <h1>Entrar</h1>

    <div id="msgError"></div>

    <div class="label-float">
      <input type="text" id="usuario" placeholder="Usuário" required />
      <label id="userLabel" for="usuario"></label>
    </div>

    <div class="label-float">
      <input type="password" id="senha" placeholder="Senha" required />
      <label id="senhaLabel" for="senha"></label>
      <i class="fa fa-eye" aria-hidden="true"></i>
    </div>

    <div class="justify-center">
      <button type="button" onclick="entrar()">Entrar</button>
    </div>

    <div class="justify-center">
      <hr />
    </div>

    <p>
      Não tem uma conta?
      <a href="/cadastro">
        Cadastre-se
      </a>
    </p>
  </div>
</div>

<footer>
    <h2> Precisa de ajuda? Entre em contato com o SAC 31 9536-6243</h2>
</footer>

<script>
  function entrar() {
    const usuarioInput = document.getElementById('usuario').value;
    const senhaInput = document.getElementById('senha').value;
    const msgError = document.getElementById('msgError');

    msgError.style.display = 'none';

    // Recupera usuário salvo
    const usuarioSalvo = JSON.parse(localStorage.getItem('usuario'));

    if (!usuarioSalvo) {
      msgError.innerText = "Usuário não cadastrado.";
      msgError.style.display = "block";
      return;
    }

    if (
      usuarioInput === usuarioSalvo.usuario &&
      senhaInput === usuarioSalvo.senha
    ) {
      msgError.innerText = "Login realizado com sucesso!";
      msgError.style.color = "green";
      msgError.style.backgroundColor = "#bbffbe";
      msgError.style.display = "block";
      // Redirecionar ou fazer outra ação
      setTimeout(() => {
        window.location.href = "/menu"; // Exemplo de redirecionamento
      }, 20); 
    } else {
      msgError.innerText = "Usuário ou senha incorretos.";
      msgError.style.color = "#ff0000";
      msgError.style.backgroundColor = "#ffbbbb";
      msgError.style.display = "block";
    }
  }
</script>